In [49]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import sys
from matplotlib import pyplot as plt
import math

# Midterm - Python

## Part 1

In [10]:
#Make sure that Dates are correctly represented as Datetime variables
#In the following analysis, use the Adjusted Close time series, unless specified otherwise

In [11]:
#first I need to create my dataset- load the data and put them together

In [17]:
# I will Load the individual datasets:
df_1 = pd.read_csv("ACN.csv")
df_2 = pd.read_csv("HD.csv")
df_3 = pd.read_csv("HIG.csv")
df_4 = pd.read_csv("UNH.csv")

In [18]:
print(df_1)

            Date        High         Low        Open       Close     Volume  \
0     2017-11-13  144.279999  143.160004  143.610001  143.919998  1456200.0
1     2017-11-14  145.500000  142.770004  143.410004  144.960007  1811900.0
2     2017-11-15  145.000000  143.679993  144.410004  144.259995  1792800.0
3     2017-11-16  147.279999  144.600006  144.960007  147.039993  2040100.0
4     2017-11-17  146.789993  144.750000  146.389999  145.449997  2557100.0
...          ...         ...         ...         ...         ...        ...
1254  2022-11-07  269.109985  261.369995  262.750000  269.070007  2170000.0
1255  2022-11-08  274.899994  266.119995  271.089996  269.029999  2444000.0
1256  2022-11-09  269.190002  265.369995  266.320007  266.440002  1831600.0
1257  2022-11-10  287.309998  277.369995  278.179993  287.019989  3121400.0
1258  2022-11-11  291.739990  280.630005  287.209991  290.089996  2620500.0

       Adj Close
0     133.897812
1     134.865402
2     134.214172
3     136.800568
4     135.321274
...          ...
1254  269.070007
1255  269.029999
1256  266.440002
1257  287.019989
1258  290.089996

[1259 rows x 7 columns]

In [19]:
# Also I should add a name column to each stock
df_1["name"] = "ACN"
df_2["name"] = "HD"
df_3["name"] = "HIG"
df_4["name"] = "UNG"

In [20]:
#Lets merge the datasets into one:
stock1_df = pd.concat([df_1, df_2, df_3, df_4], axis = 0, ignore_index = True)

# check the dataset
stock1_df.head()

,Date,High,Low,Open,Close,Volume,Adj Close,name
0,2017-11-13,144.279999,143.160004,143.610001,143.919998,1456200.0,133.897812,ACN
1,2017-11-14,145.500000,142.770004,143.410004,144.960007,1811900.0,134.865402,ACN
2,2017-11-15,145.000000,143.679993,144.410004,144.259995,1792800.0,134.214172,ACN
3,2017-11-16,147.279999,144.600006,144.960007,147.039993,2040100.0,136.800568,ACN
4,2017-11-17,146.789993,144.750000,146.389999,145.449997,2557100.0,135.321274,ACN

In [22]:
#look at the structure
stock1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5036 entries, 0 to 5035
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5036 non-null   object
 1   High       5036 non-null   float64
 2   Low        5036 non-null   float64
 3   Open       5036 non-null   float64
 4   Close      5036 non-null   float64
 5   Volume     5036 non-null   float64
 6   Adj Close  5036 non-null   float64
 7   name       5036 non-null   object
dtypes: float64(6), object(2)
memory usage: 314.9+ KB

In [25]:
# type of date?
type(stock1_df["Date"][0])

str

In [27]:
#lets do sth about the date
stock1_df.set_index("Date", inplace = True)

In [29]:
stock1_df.sort_index(ascending = True, inplace = True)

Is there a company that has no difference between the Close and Adj Close columns? What does it mean from the financial point of view for the stock (you can get bonus
partial points)?

In [33]:
#Q1 - Look at the dataset
stock1_df.head(10)

,High,Low,Open,Close,Volume,Adj Close,name
Date,,,,,,,
2017-11-13,144.279999,143.160004,143.610001,143.919998,1456200.0,133.897812,ACN
2017-11-13,55.810001,55.259998,55.430000,55.689999,1721100.0,50.072018,HIG
2017-11-13,166.639999,164.250000,164.639999,165.350006,7189300.0,149.874496,HD
2017-11-13,213.539993,209.940002,210.309998,212.660004,2662200.0,199.511688,UNG
2017-11-14,145.500000,142.770004,143.410004,144.960007,1811900.0,134.865402,ACN
2017-11-14,56.259998,55.430000,55.430000,56.220001,1820200.0,50.548561,HIG
2017-11-14,212.699997,210.919998,212.210007,211.710007,1993900.0,198.620453,UNG
2017-11-14,168.139999,163.149994,163.619995,168.059998,10284000.0,152.330826,HD
2017-11-15,145.000000,143.679993,144.410004,144.259995,1792800.0,134.214172,ACN
2017-11-15,167.440002,165.350006,167.440002,165.470001,5534500.0,149.983246,HD

From this, I can see which company has no diff betwenn close and adj close columns - there is no such a company, all of them have adjusted close different feom close values

In [34]:
#Q2 - What is the highest and lowest price (Adj Close) each company recorded?
stock1_df.groupby("name")["Adj Close"].max()

name
ACN    409.828918
HD     416.179993
HIG     75.349998
UNG    555.150024
Name: Adj Close, dtype: float64

Here we can see please the max value for each company

In [36]:
stock1_df.groupby("name")["Adj Close"].min()

name
ACN    126.605682
HD     146.575485
HIG     24.926821
UNG    189.865845
Name: Adj Close, dtype: float64

Here we can see please the min value for each company

In [ ]:
# Q3 Calculate logarithmic returns from Adj Close. 
#For each company report on its, min, max, mean, median of the return distribution.

In [50]:
# I assume that returns are refering to deily returns -  adj.close-open - I need to create new column for that

stock1_df["return_absolute"] = ((stock1_df["Open"] - stock1_df["Adj Close"]))

In [41]:
stock1_df.head()

,High,Low,Open,Close,Volume,Adj Close,name,return
Date,,,,,,,,
2017-11-13,144.279999,143.160004,143.610001,143.919998,1456200.0,133.897812,ACN,9.712189
2017-11-13,55.810001,55.259998,55.430000,55.689999,1721100.0,50.072018,HIG,5.357983
2017-11-13,166.639999,164.250000,164.639999,165.350006,7189300.0,149.874496,HD,14.765503
2017-11-13,213.539993,209.940002,210.309998,212.660004,2662200.0,199.511688,UNG,10.798309
2017-11-14,145.500000,142.770004,143.410004,144.960007,1811900.0,134.865402,ACN,8.544601

In [51]:
#but we wanted logarhitmic returns, so put them into logs
#log_return= np.log(return).diff(periods = 1) 

stock1_df["return"] = ((stock1_df["Open"] - stock1_df["Adj Close"])/stock1_df["Adj Close"
stock1_df.head()

,High,Low,Open,Close,Volume,Adj Close,name,return,return_absolute
Date,,,,,,,,,
2017-11-13,144.279999,143.160004,143.610001,143.919998,1456200.0,133.897812,ACN,0.072534,9.712189
2017-11-13,55.810001,55.259998,55.430000,55.689999,1721100.0,50.072018,HIG,0.107006,5.357983
2017-11-13,166.639999,164.250000,164.639999,165.350006,7189300.0,149.874496,HD,0.098519,14.765503
2017-11-13,213.539993,209.940002,210.309998,212.660004,2662200.0,199.511688,UNG,0.054124,10.798309
2017-11-14,145.500000,142.770004,143.410004,144.960007,1811900.0,134.865402,ACN,0.063357,8.544601

In [56]:
#stock1_df["log_return"] = np.log(return).diff(periods = 1)
#stock1_df["log_return"] = math.log(return)
#log_return=math.log(return)

#I somehow struggle to get the log, sorry

SyntaxError: invalid syntax (80913379.py, line 1)

In [ ]:
# Q3 Calculate logarithmic returns from Adj Close. 
#For each company report on its, min, max, mean, median of the return distribution.

In [57]:
# maximum return per company
print(stock1_df.groupby("name")["return"].max()) # HIG

name
ACN    0.121498
HD     0.157784
HIG    0.252065
UNG    0.124769
Name: return, dtype: float64

In [58]:
# maximum loss per company
print(stock1_df.groupby("name")["return"].min()) # HIG most volatile

name
ACN   -0.070119
HD    -0.055056
HIG   -0.183798
UNG   -0.059533
Name: return, dtype: float64

In [59]:
# mean per company
print(stock1_df.groupby("name")["return"].mean())

name
ACN    0.036037
HD     0.040305
HIG    0.049599
UNG    0.027119
Name: return, dtype: float64

In [60]:
# meadian per company
print(stock1_df.groupby("name")["return"].median())

name
ACN    0.035399
HD     0.036760
HIG    0.054121
UNG    0.025247
Name: return, dtype: float64

In [61]:
#When did each company record the highest gain and highest loss for the day? (logarithmic loss). Hint: idxmax
# highest loss
print(stock1_df.groupby("name")["return"].idxmin())

name
ACN    2020-03-26
HD     2022-01-24
HIG    2020-03-19
UNG    2020-03-26
Name: return, dtype: object

In [63]:
# days of highest gain 
print(stock1_df.groupby("name")["return"].idxmax())

name
ACN    2018-03-22
HD     2018-02-08
HIG    2020-03-18
UNG    2019-04-16
Name: return, dtype: object

In [ ]:
#What is the average calendar weekly volume for each company? Hint: check how to resample pandas DF

In [73]:
## Weekly returns

returns2 = stock1_df[["name", "return"]]
returns2.head()

           name    return
Date
2017-11-13  ACN  0.072534
2017-11-13  HIG  0.107006
2017-11-13   HD  0.098519
2017-11-13  UNG  0.054124
2017-11-14  ACN  0.063357

In [76]:
# Names as columns, gains as rows for each day
returns_final = returns2.pivot(columns = "name", values = "return")
returns_final.head()

# Create a date column by extracting from index
returns_final["date"] = pd.to_datetime(returns_final.index)
returns_final.head()

name             ACN        HD       HIG       UNG       date
Date
2017-11-13  0.072534  0.098519  0.107006  0.054124 2017-11-13
2017-11-14  0.063357  0.074110  0.096569  0.068420 2017-11-14
2017-11-15  0.075967  0.116391  0.096694  0.071083 2017-11-15
2017-11-16  0.059645  0.097856  0.126892  0.062116 2017-11-16
2017-11-17  0.081796  0.098389  0.105066  0.068746 2017-11-17

In [78]:
# extract year and month from the column
returns_final["week"] = returns_final["date"].dt.to_period("W")
returns_final.head()

name,ACN,HD,HIG,UNG,date,week
Date,,,,,,
2017-11-13,0.072534,0.098519,0.107006,0.054124,2017-11-13,2017-11-13/2017-11-19
2017-11-14,0.063357,0.074110,0.096569,0.068420,2017-11-14,2017-11-13/2017-11-19
2017-11-15,0.075967,0.116391,0.096694,0.071083,2017-11-15,2017-11-13/2017-11-19
2017-11-16,0.059645,0.097856,0.126892,0.062116,2017-11-16,2017-11-13/2017-11-19
2017-11-17,0.081796,0.098389,0.105066,0.068746,2017-11-17,2017-11-13/2017-11-19

In [71]:
#Which company recorded the highest total return over the whole period?
stock1_df.groupby("name")["return"].sum()

name
ACN    45.370130
HD     50.743800
HIG    62.444724
UNG    34.142588
Name: return, dtype: float64

In [69]:
#Plot the log-returns of the companies (ideally in the same plot)

## Part 2

In [ ]:
#I am too slow

In [ ]:
#